<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learning Vue</title>
	<script src="https://unpkg.com/vue@3.0.2"></script>
</head>
<body>
	<h1>Hello, Vue :)</h1>

	<div id="app">
		<div v-if="showBooks">
			<p>{{ title }} - {{ author }} - {{ age }}</p>
		</div>

		<button @click="toggleShowBooks">
			<!-- v-if completely removes the element from DOM -->
			<span v-if="showBooks">Hide Books</span>
			<span v-else>Show Books</span>
		</button>

		<!-- 
			v-show hides the element using 'display: none'.
			It's less time consuming than v-if.
		-->
		<div v-show="showBooks">currently showing books</div>
	</div>

	<script src="app.js"></script>
</body>
</html>