<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learning Vue</title>
	<script src="https://unpkg.com/vue@3.0.2"></script>
	<style>
		body {
			background: #eee;
			max-width: 960px;
			margin: 20px auto;
		}
		p, h3, ul {
			margin: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
			background: #fff;
			margin: 20px auto;
			padding: 10px 20px;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		li.fav {
			background: #ff9ed2;
			color: white
		}
	</style>
</head>
<body>
	<h1>Hello, Vue :)</h1>

	<div id="app">
		<!-- ATTRIBUTE BINDING -->
		<!-- :<attribute-name> is the same as v-bind:<attribute-name> -->
		<!-- <a :href="url">best website ever</a> -->

		<div v-if="showBooks">
			<ul>
				<!-- Dynamic (Conditional) Classes -->
				<!-- This implies that each li item will only have the class 'fav' if book.isFav is true for it -->
				<li v-for="book in books" :class="{ fav: book.isFav }" @click="toggleFav(book)">
					<img :src="book.img" :alt="book.title">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</li>
			</ul>
		</div>

		<br>

		<h2>Filtered Books</p>
		<div v-if="showBooks">
			<ul>
				<!-- Dynamic (Conditional) Classes -->
				<!-- This implies that each li item will only have the class 'fav' if book.isFav is true for it -->
				<li v-for="book in filteredBooks" :class="{ fav: book.isFav }" @click="toggleFav(book)">
					<img :src="book.img" :alt="book.title">
					<h3>{{ book.title }}</h3>
					<p>{{ book.author }}</p>
				</li>
			</ul>
		</div>

		<!-- 
			v-show hides the element using 'display: none'.
			It's less time consuming than v-if.
		-->
		<button @click="toggleShowBooks">
			<!-- v-if completely removes the element from DOM -->
			<span v-if="showBooks">Hide Books</span>
			<span v-else>Show Books</span>
		</button>
	</div>

	<script src="app.js"></script>
</body>
</html>